.main {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);

}

/* .header__search-mobile{
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: none;
    align-items: center;
    z-index: 2;
}

.header__search-mobile-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-mobile-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-mobile-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-mobile-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-mobile-select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-mobile-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-mobile-btn:hover{
    cursor: pointer;
    background-color: #ec593c;
}

.header__search-mobile-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-mobile-select:hover .header__search-mobile-option{
    display: block;
}

.header__search-mobile-option{
    position: absolute;
    right: 0;
    top: 122%;
    width: 130px;
    box-shadow: 0 1px 2px #ccc;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.1s;
    z-index: 1;
}

.header__search-mobile-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    position: absolute;
    top: -12px;
    left: 0;
}

.header__search-mobile-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-mobile-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-mobile-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-mobile-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-mobile-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}

.header__search-mobile-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-mobile-option-item--active i{
    display: inline-block;
}

.header__search-mobile-input:focus ~ .header__search-mobile-history{
    display: block;
}

.header__search-mobile-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(184, 181, 181);
    display: none;
    overflow: hidden;
}

.header__search-mobile-history-heading{
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-mobile-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-mobile-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-mobile-history-item:hover{
    background-color: #f4f1f1;
}

.header__search-mobile-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
} */

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #333;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 5;
    padding-left: 0;
    top: 58px;
    right: 0;
    width: 160px;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
    display: none;

}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 77px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -38px;
}

.header__navbar-user-item {
    font-weight: 400;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: rgb(245, 244, 244);
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navber-icon {
    font-size: 1.8rem;
    margin: 0 4px;
    position: relative;
    top: -1px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item--has-qr:hover .header__qr,
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}


/* Header QR code */
.header__qr {
    width: 186px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    box-shadow: 0 1px 2px #ccc;
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    display: block;
    position: absolute;
}

.header__qr-img {
    width: 100%;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link {
    margin-right: 11px;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;
}


/* Header notification */
.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    display: none;
    z-index: 3;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background: var(--white-color);
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
}

/* Athen modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    padding: 0 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--primary-color);
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    margin-top: 16px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color) !important;
    background-color: #3a5a98;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.auth-form__socials-icon
.auth-form__socials--facebook {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    color: #666 !important;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-left: 1px solid #eaeaea;
    margin: -2px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    display: block;
    text-decoration: none;
    color: transparent;
    line-height: 0;
}

.header__logo-img {
    width: 120px;
    color: var(--white-color);
}

.header__search {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__category {

}


.header__category-icon {
    font-size: 2.5rem;
    color: var(--white-color);
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__cart {
    width: 105px;
    text-align: center;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 10px);
    right: -1px;
    background-color: var(--white-color);
    width: 330px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.1s;
    cursor: default;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 1px;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}


.header__cart-list--none-cart {
    padding: 10px 0;
}

.header__cart-list--none-cart .header__cart-none-cart-img,
.header__cart-list--none-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-none-cart-img {
    width: 100%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 6px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    background-color: var(--white-color);
    color: var(--primary-color);
    margin-top: -8px;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f1f1f1;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    text-align: left;
}

.header__cart-item-pride {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;

}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
    opacity: 0.9;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #ec593c;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 122%;
    width: 130px;
    box-shadow: 0 1px 2px #ccc;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.1s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    position: absolute;
    top: -12px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(184, 181, 181);
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #f4f1f1;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Header sort bar */

.header__sort-bar {
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::after {
    display: none;
}

.header__sort-item--icon {
    display: flex;
    font-size: 1.2rem;
    position: absolute;
    top: 30%;
    margin-left: 5px;
}

.header__sort-item--icon:last-child {
    margin-top: 9px;
}


/* App container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1.5px;
}

.category-list {
    padding: 0 8px 0 0;
    list-style: none;
    margin-left: 10px;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 7px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    right: 0;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* Home sort + filter */

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px !important;
    margin-right: 12px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #ccc;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 2px #ccc;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    box-shadow: 0 1px 2px #ccc;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.mobile-category {
    display: none;
}

.mobile-category--list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category--list::-webkit-scrollbar {
    display: none;
}

.mobile-category--item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category--item:nth-of-type(3n + 1) .mobile-category--link {
    background-color: #87afd8;
}

.mobile-category--item:nth-of-type(3n + 2) .mobile-category--link {
    background-color: #76c9bd;
}

.mobile-category--item:nth-of-type(3n + 3) .mobile-category--link {
    background-color: #88cf81;
}

.mobile-category--link {
    --line-height: 2rem;
    width: 108px;
    height: calc(var(--line-height) * 2);
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    overflow: hidden;
    text-align: center;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}


/* product item */
.product {
    margin-bottom: 10px;
}

.product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
}

.product-item .product-item-list {
    text-decoration: none;
}

.product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);

}

.product-item__img {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    padding: 0 10px;
    margin: 10px 0 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-item__pride {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-item__pride-old {
    font-size: 1.2rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.product-item__pride-current {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 4px;
}

.product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.product-item__like {
    font-size: 1.2rem;
}

.product-item__like--liked {

}

.product-item__like-icon-empty {

}

i.product-item__like-icon-fill {
    display: none;
    color: var(--primary-color);
}

.product-item__like--liked .product-item__like-icon-fill {
    display: inline-block;
}

.product-item__like--liked .product-item__like-icon-empty {
    display: none;
}

.product-item__rating {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    color: #ccc;
    margin-left: auto;
}

.product-item-icon__star--gold {
    color: var(--star-gold-color);
}

.product-item__sold {
    margin: 2px 0 0 6px;
}

.product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0;
    font-size: 1.1rem;
    color: #595959;
}

.product-item__brand {

}

.product-item__origin-name {

}

.product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.product-item__favourite span {
    color: var(--white-color);
}

.product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(40%);
}

.product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.8);
    border-top-right-radius: 2px;
}

.product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.8);
    border-color: transparent currentColor transparent currentColor;
}

.product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.product-item__sale-off-label {
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}

.footer {
    background-color: rgb(240, 240, 240);
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 2px 0;
    display: block;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.7rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr-img {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}


.footer__download-apps {
    flex: 1;
    margin-left: 16px;
}

.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
}

.footer__download-apps-img {
    height: 20px;
    display: flex;
}


.footer__information {
}

.footer__information-list {
    display: flex;
    margin: 50px 70px;
}

.footer__information-item {
    list-style: none;
    padding: 0 5.6rem;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
}

.footer__information-link {
    text-decoration: none;
    color: var(--text-color);
}

.footer__bottom {
    background-color: rgb(240, 240, 240);
    min-height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.footer__text {
    font-size: 1.2rem;
    margin: 0;
}

span.psw {
    float: right;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    color: #00B074;
}

.login-body {
    margin: 0 60px;
}

.login-item {
    margin-top: 15px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.logout-btn {
    width: 100%;
    border: none;
    border-top: 1px solid #bdddd2;
    background-color: white;
    color: black;
    display: flex;
    padding: 0 0 6px 15px;
}

.logout-btn:hover {
    background: #F5F4F4;
}



/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.custom-dropdown-menu {
    display: flex !important;
    flex-direction: column;
    padding: 0;
}

.custom-dropdown-item {
    width: 100%;
    padding: 7px 0 7px 10px;
}

.custom1::before {

}

.custom1 {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.custom1:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.custom1 i {
    font-size: 24px;
    color: #000000;
}

.dropdown-menu {
    top: 45px !important;
    position: absolute;
    right: 0;
    width: 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px !important;
}


/*.dropdown-menu a {*/
/*    display: block;*/
/*    color: #000000;*/
/*    text-decoration: none;*/

/*}*/

/*.dropdown-menu a:hover {*/
/*    background-color: #f1f1f1;*/
/*    color: #00B074;*/
/*}*/
.login-btn{
    font-size: 16px;
    font-weight: 500;
    border: 0;
    width: 100%;
    background: white;
    display: flex;
}

.login-btn:hover{
    color: #58B495;
    background: white;
}

.custom-item{

}

